/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor:  #3c3f45;
  --darkviolet: #400040;
  --lightviolet: #D9CBD9;
  --blackrgb:rgb(1,1,1);
  --redgradient: linear-gradient(36deg, rgba(1,1,1,1) 11%, rgba(0,0,0,1) 30%, rgba(213,13,13,1) 83%);
  --red:#D50D0D;
  --black:#090909;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  font-family: "Poppins" , sans-serif;
}

.wave{
  position: fixed;
  background: linear-gradient(36deg, rgba(1,1,1,1) 11%, rgba(0,0,0,1) 30%, rgba(213,13,13,1) 83%);
  height: 100vh;
  width: 60vw;
  left: 0;
  bottom:0;
  z-index: -1;
}
h1{
  display:inline-block;
  position: absolute;
  bottom: 50vh;
  left: 15vw;
  /* align-items: center; */
  font-weight: 700;
  font-size: 30px;
  color:white;

}
.bgimg{
  position:relative;
  width: 100%;
  height: auto;
  
  top:70vh;
}
.container{
  position: fixed;
  /* left: 68%; */
  left: 68vw;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  align-items: center;
  
  color:rgb(0, 0, 0);
  /* border:4px solid black; */
}
.login-container{
  display: flex;
  align-items: center;
  text-align: center;
}
.navbtn{
  position: absolute;
  bottom: 42rem;
  left: 5rem;
  display: flex;
  text-decoration: none;
}
.navbtn .navsignup{
  display: block;
  text-decoration: none;
  padding: 0 25px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  color: black;
  /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,0,0,1) 53%, rgba(255,0,0,1) 100%); */
  cursor: pointer;
  font-family: "Poppins" , sans-serif;
  font-weight: 600;
  background-size: 120%;
  text-transform: uppercase;
  transition: .5s;
}
.navbtn .navlogin{
  display: block;
  text-decoration: none;
  padding: 0 35px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  color: white;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,0,0,1) 53%, rgba(255,0,0,1) 100%);
  background-color: whitesmoke;
  cursor: pointer;
  font-family: "Poppins" , sans-serif;
  font-weight: 600;
  background-size: 120%;
  text-transform: uppercase;
  transition: .5s;
}
.navbtn > a{
  text-decoration: none;
}
form{
  width:360px;
}
form h2{
  font-size: 2.9rem;
  /* text-transform: uppercase; */
  margin: 15px 0;
  color: #333;
}
.login-container .input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;

}


.login-container .input-div.one{
  margin-top: 0;
}

.i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i{
  color: #d9d9d9;
  transition: .3s;
}
.input-div >div{
  position: relative;
  height: 45px;
}
.input-div.one{
  margin-top: 0;
}
.input-div.two{
  margin-bottom:4px;
}

.showHidePw{
  position: absolute;
  top: 50%;
  left: 100%;
  color: #8a8787;
  transition: .3s;
  transform: translateY(-50%);
}


.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.input-div:before, .input-div:after{
  content:'';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--red);
  transition: .3s;

}
.input-div:before{
  left: 50%;
}
.input-div:after{
  right: 50%;
}
.input-div.focus:before, .input-div.focus:after{
  width: 50%;
} 
.input-div.focus > div > h5{
  top:-5px;
  font-size: 15px;
}
.input-div.focus >.i > i{
  color: #D50D0D;
}
.input-div.focus > div > span > i{
  color: #D50D0D;
}

.input-div > div >.input{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-family: "Poppins" , sans-serif;
  color: #555;
  
}

/* .input-div.pass{
	margin-bottom: 4px;
} */

.forgot-password{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: var(--red);
}


.btn{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  color: white;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,0,0,1) 53%, rgba(255,0,0,1) 100%);
  cursor: pointer;
  font-family: "Poppins" , sans-serif;
  font-weight: 600;
  background-size: 120%;
  text-transform: uppercase;
  transition: .5s;
}

.btn:hover{
  background-position: right;
}
.login-signup{
  color: rgb(123, 122, 122);
}
.login-signup .signup-text{
  text-decoration:none;
}


/* --------------responsive--------------------*/

@media screen and (max-width: 1400px){
	.container{
		grid-gap: 5rem;
    left: 65vw;
    transition: .1s;
	}
  .bgimg{
    top: 78vh;
    transition: .1s;
  }

}
@media screen and (max-width: 1200px){
	.container{
		grid-gap: 5rem;
    left: 62vw;
    transition: .1s;
	}
  .bgimg{
    top: 78vh;
    transition: .1s;
  }

}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
    left: 60vw;
    transition: .1s;
	}
  .bgimg{
    top: 78vh;
    transition: .1s;
  }

}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
    transition: .1s;
	}

	.login-content h2{

        font-size: 2.4rem;
        margin: 8px 0;
        transition: .1s;
	}

	.bg img{
		width:60%;
    transition: .1s;
    /* top:100px; */
    /* top: 78vh; */
	}
}

@media screen and (max-width: 900px){
  body{
    align-items: center;
    transition: .1s;
  }
	.container{
    position:absolute;
    top: 20vh;
    left:7.5vw;
		grid-template-columns: 1fr;
    height: auto;
    width: 80%;
    transition: .1s;
	}

	.img{
		display: none;
    transition: .1s;
	}

	.wave{
		display: none;
    transition: .1s;
	}

	.login-container{
    left: auto;
		justify-content: center;
    transition: .1s;

	}
}
@media screen and (max-width: 400px){
  .container{
    left:4vw;
	}
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #D50D0D;
  border-top-color: #bfe0fd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

